
/* +++++ MAPS +++++*/ 

$breakpoints: (
    // mobile: 576px,
    mobile: 300px,
    desktop: 1024px
);

 
/* +++++ MIXINS +++++*/ 

@mixin respond-to($breakpoint){
    @if map-has-key($map: $breakpoints, $key:$breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }@else{
        @warn "Le breakpoint #{$breakpoint} n'existe pas dans la map.";
    }
}


* {
    font-family: "Roboto", sans-serif;
    // outline: 1px solid red;
}

:root {
    --bg-grey-color: #F6F6F6;
    --bg-white-color: #ffffff;
    --bg-localisation-color : #eaeaea;
    --bg-footer-color: #353535;
    --button-main-color : #9356DC;
    --button-second-color : #FF79DA;
    --etiquette-main-color : #99E2D0;
}

body{
    margin: 0;
}

@include respond-to(mobile){
    /* +++++ HEADER +++++ */ 
    
    .header{
        &__container-logo{        
            display: flex;
            justify-content: center;
            align-items: center;
            height: 63px;
        }
        &__container-logo-image{
            height: 36px;
            margin: 20px 0 0 0;
        }
        &__container-localisation{
            height: 50px;
            margin: 10px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;  
            margin-bottom: 5px;
            background-color: var(--bg-localisation-color);     
            box-shadow: 0px 3px 17px rgba(#000000, .6); 
        }
        &__container-localisation-icone{
            position: relative;
            right: 20px;/*Permet de garder le centrage du texte*/
        }
        &__container-localisation-texte{
            color: var(--bg-footer-color);
            font-size: 16px;
            font-weight: 500;
        }    
    }
    
    /* +++++ SECTION RESERVER +++++ */
    
    .section-reserver{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 30px;
        background: var(--bg-grey-color);
    
        &__contenu{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__titre{
                    
            &-h1{
                margin: 20px 0px 0px 0px;
                font-weight: 700;
                font-size: 24px;
            }
        }
        &__texte{
            text-align: center;
            font-weight: 300;
            font-size: 18px;
            margin: 20px 0 0 0;
        }
        &__bouton{
            // text-align: center;
            // margin: auto;
            // width: 315px;
            // margin-bottom: 70px;
            margin: 20px 0 50px 0;
            text-decoration: none;
            color: white;
            padding: 15px;
            border-radius: 30px;
            background: linear-gradient(to top left, #9356DC, #FF79DA);
            box-shadow: 0px 4px 10px rgba(#000000, .25);
            cursor: pointer;
            
        }
    } 
    
    /* +++++ SECTION FONCTIONNEMENT+++++ */
    
    .section-fonctionnement{
        padding: 0 30px;
        background-color: var(--bg-white-color);
        
        &__contenu{
            display: flex;
            flex-direction: column;
        }
    
        &__titre{
            margin: 20px 0 20px 0;
            font-size: 24px;
            font-weight: 700;
        }
        &__bouton{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            background-color: var(--bg-grey-color);
            margin-bottom: 20px;
            border-radius: 20px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
            padding: 10px 0;
            
    
            &-pastille{
                width: 22px;
                height: 22px;
                background-color: var(--button-main-color);
                color: white;
                font-weight: 400;
                font-size: 14x;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                right: 10px;
                // box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); 
            }
            &-icone{
    
            }
            &-texte{
    
            }
        }
    }
    
    /* +++++ SECTION RESTAURANTS +++++ */
    
    .section-restaurants{
        background-color: var(--bg-grey-color);
        padding: 0 20px;
        
        
        &__contenu{
            display: flex;
            flex-direction: column;
            padding: 0 0 50px 0;
        }
    
        &__titre{
            margin: 40px 0 0 0;
            font-size: 24px;
            font-weight: 700;
        }
    
        &__carte{
            background-color: var(--bg-white-color);
            border-radius: 20px;
            position: relative;
            margin: 20px 0 0 0;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    
            &-lien{
                text-decoration: none;
                color: #000000;
            }
    
            &-image{
                width: 100%;
                aspect-ratio: 6/4;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
    
            &-etiquette{
                width: 70px;
                background-color: var(--etiquette-main-color);
                position: absolute;
                top: 0;
                right: 10px;
                padding: 6px;
                border-radius: 5px;
                color: #3d8665;
                font-weight: 600;
    
                &--display3,
                &--display4{
                    display: none;
                }
            }
    
            &-titre{
                margin: 10px 0 0 10px;
                font-size: 18px;
                font-weight: 700;
            }
    
            &-texte{
                margin: 5px 0px 10px 10px;
                font-size: 17px;
                font-weight: 300;
            }
    
            &-coeur-vide,
            &-coeur-plein{
                position: absolute;
                bottom: 40px;
                right : 25px;    
                transition: opacity 0.01s ease, transform 0.5s ease;        
            }
    
            &-coeur-vide{
                z-index: 2;
    
                &:hover{
                    opacity: 0;
                    cursor: pointer;
                }
            }
    
            &-coeur-plein{
                z-index: 2;
                opacity: 0;
    
                &:hover {
                    opacity: 1;
                    transform: scale(1.3); // petit zoom sympa
                    cursor: pointer;               
                  }
            }
        }
    }
    
    /* +++++ FOOTER +++++ */
    
    .section-footer{
        margin: 0 0 0 0;
        padding: 20px;
        background-color: var(--bg-footer-color);
        color: white;
        
        &__lien{
            margin: 8px 0;
    
            &-icone1{
                margin: 0 10px 0 0;
            }
    
            &-icone2{
                margin: 0 4px 0 0;
            }
            
            &-texte{
                font-size: 16px;
                text-decoration: none;
                color: white;            
            }
        }
    }
}

@include respond-to(desktop){
    /* +++++ HEADER +++++ */ 
    
    .header{
        &__container-logo{        
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96px;
        }
        &__container-logo-image{
            height: 36px;
            margin: 20px 0 0 0;
        }
        &__container-localisation{
            margin: 10px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;  
            background-color: var(--bg-localisation-color);     
            box-shadow: none; /* désactive le box shadow en Desktop*/
            // margin-bottom: 5px; /*Version mobile*/
            // box-shadow: 0px 3px 17px rgba(#000000, .6); box shadow version mobile 
        }
        &__container-localisation-icone{
            position: relative;
            right: 20px;/*Permet de garder le centrage du texte*/
        }
        &__container-localisation-texte{
            color: var(--bg-footer-color);
            font-size: 16px;
            font-weight: 500;
        }    
    }
    
    /* +++++ SECTION RESERVER +++++ */
    
    .section-reserver{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 30px;
        background: var(--bg-grey-color);
    
        &__contenu{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__titre{
            
            &-h1{
                margin: 20px 0px 0px 0px;
                font-weight: 700;
                font-size: 40px; /*24px en mobile*/
            }
        }
        &__texte{
            text-align: center;
            font-weight: 300;
            font-size: 18px; 
            margin: 20px 0 0 0;
        }
        &__bouton{
            margin: 20px 0 30px 0; /*Margin bottom 50px en mobile*/
            text-decoration: none;
            color: white;
            padding: 15px;
            border-radius: 30px;
            background: linear-gradient(to top left, #9356DC, #FF79DA);
            box-shadow: 0px 4px 10px rgba(#000000, .25);
            cursor: pointer;
            width: 218px;            
        }
    } 
    
    /* +++++ SECTION FONCTIONNEMENT+++++ */
    
    .section-fonctionnement{
        padding: 50px 180px 30px 180px;
        background-color: var(--bg-white-color);
        
        &__contenu{
            display: flex;
            flex-direction: row; /*Column en mobile*/ 
            justify-content: space-around; 
            // flex-wrap: nowrap;
            // gap: 30px;
            // width: 100%;
        }
    
        &__titre{
            // margin: 20px 0 20px 0;
            font-size: 24px;
            font-weight: 700;
        }
        &__bouton{
            display: flex;
            flex-direction: row;
            align-items: center;
            // gap: 15px;
            background-color: var(--bg-grey-color);
            // margin-bottom: 20px;
            // border-radius: 20px;
            // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
            width: 30%;
            // height: 72px;
            // padding: 5px 0;
            
    
            &-pastille{
                width: 22px;
                height: 22px;
                background-color: var(--button-main-color);
                color: white;
                font-weight: 400;
                font-size: 14x;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                right: 10px;
                // box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); 
            }
            &-icone{
    
            }
            &-texte{
                font-size: 16px;
                font-weight: 500;
    
            }
        }
    }
    
    /* +++++ SECTION RESTAURANTS +++++ */
    
    .section-restaurants{
        background-color: var(--bg-grey-color);
        padding: 50px 180px 30px 180px;
        
        
        &__contenu{
            display: flex;
            flex-direction: row; /*column sur mobile*/
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 0 50px 0;
        }
    
        &__titre{
            margin: 0; /*margin top 40px en mobile*/
            font-size: 24px;
            font-weight: 700;
        }
    
        &__carte{
            background-color: var(--bg-white-color);
            border-radius: 20px;
            position: relative;
            margin: 20px 20px 0 0; /*margin right 0 en mobile*/
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
            width: calc(50% - 20px); /* permet de faire 2 colonnes et 2 rangées en desktop en enlevant la margin right de 20px ajoutée plus haut*/
    
            &-lien{
                text-decoration: none;
                color: #000000;
            }
    
            &-image{
                // width: 100%;
                aspect-ratio: 3/1; /*6/4 en mobile*/
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
    
            &-etiquette{
                width: 70px;
                background-color: var(--etiquette-main-color);
                position: absolute;
                top: 0;
                right: 10px;
                padding: 6px;
                border-radius: 5px;
                color: #3d8665;
                font-weight: 600;
    
                &--display3,
                &--display4{
                    display: none;
                }
            }
    
            &-titre{
                margin: 10px 0 0 10px;
                font-size: 18px;
                font-weight: 700;
            }
    
            &-texte{
                margin: 5px 0px 10px 10px;
                font-size: 17px;
                font-weight: 300;
            }
    
            &-coeur-vide,
            &-coeur-plein{
                position: absolute;
                bottom: 40px;
                right : 25px;    
                transition: opacity 0.01s ease, transform 0.5s ease;        
            }
    
            &-coeur-vide{
                z-index: 2;
    
                &:hover{
                    opacity: 0;
                    cursor: pointer;
                }
            }
    
            &-coeur-plein{
                z-index: 2;
                opacity: 0;
    
                &:hover {
                    opacity: 1;
                    transform: scale(1.3); // petit zoom sympa
                    cursor: pointer;               
                  }
            }
        }
    }
    
    /* +++++ FOOTER +++++ */
    
    .section-footer{
        display: flex; /*Aligner le logo et les liens en Desktop*/
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 0 0 0;
        padding: 20px;
        background-color: var(--bg-footer-color);
        color: white;

        &__logo {
            order: 2; /*on change l'ordre pour passer le logo à la suite des liens en Desktop*/
            margin: 15px 0 0 90px;
        }
        
        &__contenu{
            order: 1; /*on change l'ordre pour passer le logo à la suite des liens en Desktop*/
            display: flex; /*Aligner les liens en Desktop*/
            flex-direction: row; /*Aligner les liens en Desktop*/
            gap: 30px;
            margin: 20px 0 0 0;
        }
        
        &__lien{
            margin: 8px 0;
    
            &-icone1{
                margin: 0 10px 0 0;
            }
    
            &-icone2{
                margin: 0 4px 0 0;
            }
            
            &-texte{
                font-size: 16px;
                text-decoration: none;
                color: white;   
                
                &--mentions{
                    margin-left: 20px; /*margin left à gauche de Mentions Légales sur Desktop*/
                }
            }
        }
    }
}
