/* +++++ MAPS +++++*/ 

$breakpoints: (
    // mobile: 576px,
    mobile: 1px,
    desktop: 1024px
);

 
/* +++++ MIXINS +++++*/ 

@mixin respond-to($breakpoint){
    @if map-has-key($map: $breakpoints, $key:$breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }@else{
        @warn "Le breakpoint #{$breakpoint} n'existe pas dans la map.";
    }
}

/* +++++ GENERAL +++++*/ 
* {
    font-family: "Roboto", sans-serif;
    // outline: 1px solid red;
}

:root {
    --bg-grey-color: #F6F6F6;
    --bg-white-color: #ffffff;
    --bg-localisation-color : #eaeaea;
    --bg-footer-color: #353535;
    --button-main-color : #9356DC;
    --button-second-color : #FF79DA;
    --etiquette-main-color : #99E2D0;
}

body{
    margin: 0;
}



@include respond-to(mobile){
    
/* +++++ HEADER +++++*/ 

.section-header{    
    &__container-logo-icone{
        margin: 20px 0 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    &__icone{
        position: absolute;
        left: 27px;
        top : 17px
    }

    &__container-image{
        width: 100%;        
    }

    &__image{
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
    }


.header__container-image{
    position: relative;
    z-index: 1;

    &-menu{        
        width: 100%;
        aspect-ratio: 2/1.2;
        object-fit: cover;        
    }
}
}

/* +++++ MENUS +++++*/ 

.section-menu{
    margin: -10% 0 0 0;
    position: relative;
    z-index: 2;
    padding: 0 20px;
    background-color: var(--bg-grey-color);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    
    &__container-titre-icone{   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    &__titre{
        font-family: "Shrikhand", serif;
        font-size: 28px;
        font-weight: 400;
        margin: 30px 0 0 0;
    }

    &__coeur-vide,
    &__coeur-plein{
        position: absolute;
        top: 45px;
        right : 5%;    
        transition: opacity 0.01s ease, transform 0.5s ease;        
    }

    &__coeur-vide{
        z-index: 2;

        &:hover{
            opacity: 0;
            cursor: pointer;
        }
    }

    &__coeur-plein{
        z-index: 2;
        opacity: 0;

        &:hover {
            opacity: 1;
            transform: scale(1.3); // petit zoom sympa
            cursor: pointer;               
          }
    }


/* +++++ CARTE +++++*/   

    &__container-carte{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__titre-plats{
        font-size: 16px;
        font-weight:300;
        margin: 30px 0 8px 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0%; // Décalage horizontal
            width: 40px; // Longueur de la bordure
            border-bottom: 3px solid var(--etiquette-main-color);
          }
    }

    &__card-plat{
        background-color: var(--bg-white-color);
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(#000000, 0.1);
        position: relative;
        overflow: hidden;  
        
        // Barre verte en pseudo-élément
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0;
            right: 0;
            top: 0;
            background-color: #99e2d0;
            transition: width 250ms ease-in-out;
            z-index: 1;
        }     
        &-nom{
            font-size: 18px;
            font-weight:500;
            margin: 0 0 0 0;
        }
        &-containertxtprix{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 4px;
            position: relative;
            flex: 1;
            z-index: 2;
        }
        &-texte{
            font-size: 15px;
            font-weight:300;
            margin: 0 0 0 0;            
        }
        &-prix{
            font-size: 15px;
            font-weight:700;
            margin: 0 0 0 0;
            position: relative;
            // z-index: 3;
            transition: transform 250ms ease-in-out;
        }

        &-check{      
            border-radius: 50%;
            padding: 2px 4px 0px 4px;
            background-color: rgba(whitesmoke, 1);      
            color: var(--etiquette-main-color);
            position: absolute;
            right: -50px;
            bottom: 10px;
            transition: all 250ms ease-in-out;
        }

        &:hover{
            cursor: pointer;            
            &::before{
                width: 50px;
            }
            .section-menu__card-plat-prix{
                transform: translateX(-45px);
            }
            .section-menu__card-plat-check{
                transform: translateX(-55px);
            }
            .section-menu__card-plat-texte{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 75%; 
            }
        } 
    }


    &__container-bouton{
        text-align: center;      
    }

// <!-- +++++ BOUTON COMMANDER +++++ -->   

    &__bouton{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        margin: 30px 0 30px 0;
        width: 40%;
        text-decoration: none;
        color: white;
        padding: 15px;
        border-radius: 30px;
        background: linear-gradient(to top left, #9356DC, #FF79DA);
        box-shadow: 0px 4px 10px rgba(#000000, .25);
        cursor: pointer;  
        
        &:hover{
            background: linear-gradient(to top left,lighten(#9258da, 1%), lighten(#FF79DA, 4%));
            box-shadow: 0px 4px 15px rgba(#000000, 0.4);
            }
    }
    
}

/* +++++ FOOTER +++++ */
    
.section-footer{
    margin: 0 0 0 0;
    padding: 20px;
    background-color: var(--bg-footer-color);
    color: white;
    
    &__lien{
        margin: 8px 0;

        &-icone1{
            margin: 0 10px 0 0;
        }

        &-icone2{
            margin: 0 4px 0 0;
        }
        
        &-texte{
            font-size: 16px;
            text-decoration: none;
            color: white;            
        }
    }
}
    
}



@include respond-to(desktop){

    /* +++++ HEADER +++++*/ 

.section-header{    
    &__container-logo-icone{
        margin: 20px 0 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    &__icone{
        position: absolute;
        left: 27px;
        top : 17px
    }

    &__container-image{
        width: 100%;        
    }

    &__image{
        width: 100%; 
        aspect-ratio: 4 / 1.5;
        object-fit: cover;
    }


.header__container-image{
    position: relative;
    z-index: 1;

    &-menu{        
        width: 100%;
        aspect-ratio: 2/1.2;
        object-fit: cover;        
    }
}
}

/* +++++ MENUS +++++*/ 

.section-menu{
    margin: auto;
    position: relative;
    z-index: 2;
    margin-top: -3%;
    padding: 0 20px;
    background-color: var(--bg-grey-color);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 70%;
    
    &__container-titre-icone{   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    &__titre{
        font-family: "Shrikhand", serif;
        font-size: 28px;
        font-weight: 400;
        margin: 30px auto;
    }

    &__coeur-vide,
    &__coeur-plein{
        position: absolute;
        top: 45px;
        // right : 60px; /*en mobile*/
        right: 28%; /*en desktop*/    
        transition: opacity 0.01s ease, transform 0.5s ease;        
    }

    &__coeur-vide{
        z-index: 2;

        &:hover{
            opacity: 0;
            cursor: pointer;
        }
    }

    &__coeur-plein{
        z-index: 2;
        opacity: 0;

        &:hover {
            opacity: 1;
            transform: scale(1.3); // petit zoom sympa
            cursor: pointer;               
          }
    }


/* +++++ CARTE +++++*/   

    &__container-carte{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%; /*100% en mobile*/
        margin: auto; /*en Desktop uniquement pour centrer la carte*/
    }

    &__titre-plats{
        font-size: 16px;
        font-weight:300;
        margin: 30px 0 8px 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0%; // Décalage horizontal
            width: 40px; // Longueur de la bordure
            border-bottom: 3px solid var(--etiquette-main-color);
          }
    }

    &__card-plat{
        background-color: var(--bg-white-color);
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(#000000, 0.1);  
        position: relative;
        overflow: hidden;      

        // Barre verte en pseudo-élément
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0;
            right: 0;
            top: 0;
            background-color: #99e2d0;
            transition: width 250ms ease-in-out;
            z-index: 1;
        }     
        &-nom{
            font-size: 18px;
            font-weight:500;
            margin: 0 0 0 0;
        }
        &-containertxtprix{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 4px;
            position: relative;
            flex: 1;
            z-index: 2;
        }
        &-texte{
            font-size: 15px;
            font-weight:300;
            margin: 0 0 0 0;
        }
        &-prix{
            font-size: 15px;
            font-weight:700;
            margin: 0 0 0 0;
            position: relative;
            // z-index: 3;
            transition: transform 250ms ease-in-out;
        }

        &-check{      
            border-radius: 100%;
            padding: 2px 4px 0px 4px;
            background-color: rgba(whitesmoke, 1);      
            color: var(--etiquette-main-color);
            position: absolute;
            right: -50px;
            bottom: 10px;
            transition: all 250ms ease-in-out;
        }

        &:hover{
            &::before{
                width: 50px;
            }
            .section-menu__card-plat-prix{
                transform: translateX(-50px);
            }
            .section-menu__card-plat-check{
                transform: translateX(-55px);
            }
        }
    }


    &__container-bouton{
        text-align: center;      
    }

// <!-- +++++ BOUTON COMMANDER +++++ -->   

    &__bouton{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        margin: 30px 0 30px 0;
        width: 20%;
        text-decoration: none;
        color: white;
        padding: 15px;
        border-radius: 30px;
        background: linear-gradient(to top left, #9356DC, #FF79DA);
        box-shadow: 0px 4px 10px rgba(#000000, .25);
        cursor: pointer;  
        
        &:hover{
            background: linear-gradient(to top left,lighten(#9258da, 1%), lighten(#FF79DA, 4%));
            box-shadow: 0px 4px 15px rgba(#000000, 0.4);
            }
    }
    
}
       
    /* +++++ FOOTER +++++ */
    
    .section-footer{
        display: flex; /*Aligner le logo et les liens en Desktop*/
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 0 0 0;
        padding: 20px;
        background-color: var(--bg-footer-color);
        color: white;

        &__logo {
            order: 2; /*on change l'ordre pour passer le logo à la suite des liens en Desktop*/
            margin: 15px 0 0 90px;
        }
        
        &__contenu{
            order: 1; /*on change l'ordre pour passer le logo à la suite des liens en Desktop*/
            display: flex; /*Aligner les liens en Desktop*/
            flex-direction: row; /*Aligner les liens en Desktop*/
            gap: 10px;
            margin: 20px 0 0 0;
        }
        
        &__lien{
            margin: 0px 0;
    
            &-icone1{
                margin: 0 10px 0 0;
            }
    
            &-icone2{
                margin: 0 4px 0 0;
            }
            
            &-texte{
                font-size: 16px;
                text-decoration: none;
                color: white;   
                
                &--mentions{
                    margin-left: 20px; /*margin left à gauche de Mentions Légales sur Desktop*/
                }
            }
        }
    }
}

